<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ data['name'] }}</title>
</head>
<body>
    <h1>{{ data['name'] }}</h1>
    <p>Tipo: {{ data['type'] }}</p>
    {% if data['type'] == 'movie' %}
        <a href="https://{{ domain }}/it/watch/{{ data['id'] }}">Guarda</a>
        |
        <a href="{{ url_for('download', content_id=data['id']) }}">Download</a>
    {% else %}
        <p>Stagioni: {{ data['seasons_count'] }}</p>
        <ul>
        {% for ep in data['episodeList'] %}
            <li>
                S{{ ep['season'] }}E{{ ep['episode'] }} - {{ ep['name'] }}
                <a href="https://{{ domain }}/it/watch/{{ data['id'] }}?e={{ ep['id'] }}">Guarda</a>
                |
                <a href="{{ url_for('download', content_id=data['id'], e=ep['id']) }}">Download</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('index') }}">Nuova ricerca</a>
</body>
</html>
